// variables.scss

// Colores base
$primary-color: #b19cd9; // Lila metálico para el fondo
$secondary-color: #4dc0b5; // Color complementario
$text-color: #333333; // Color para el texto principal
$background-color: #f8fafc; // Color de fondo base
